.App {
  text-align: center;
}
 
p{
  text-align: justify;
  font-size: 13px;
}

i{
  cursor:pointer;
  font-size: 30px;
  color: #368FD8;
}

.section{
  padding: 5px;
}

.order{
  padding: 19px;
}

.vote {
  font-family: 'Arimo', sans-serif;
  text-align: center;
  user-select: none;
  font-weight: 600;
}
